.header{
     display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;



}
.header__left > img{
    object-fit: contain;
    height: 40px;
    margin-left: 5px;


}

.header__left{
    display : flex;
    align-items : center;
}

.header__middle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;

}

.header__right{
    display: flex;
    padding-right: 20px;
}

.header__middle > .MuiSvgIcon-root {
    color: gray;
}

.header__middle > input{
    border: none;
    width: 100%;
    padding: 10px;
    outline:  none;
    font-size: medium;
    background-color: transparent;


}